header{
	background: #BBBBBB;
	padding: 20px 0;
	background-image: linear-gradient(to bottom, #FFFFFF, #C78C19)
}

nav{
	position: absolute;
	top: 110px;
	right: 200px;
}

nav li{
	display: inline;
	margin: 0 0 0 15px;
}


nav a{
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none; 
}

nav a:hover{
	color:#8B0000;
	text-decoration: underline;	
}

.produtos{
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.produtos li{
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;

}

.produtos li:hover{
	border-color: #C78C19;

}

.produtos li:active{
	border-color: #8B0000;
}

.produtos li:hover h2 {
	font-size: 32px;
}

.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}

.produto-descricao {
	font-size: 18px;

}

.produto-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}

footer {
	text-align: center;
	padding: 20px 0;
	background: url("../images/bg.jpg");
}

.copyrigth {
	font-size: 15px;
	font-family: "arial";
	color: #FFFFFF;
}

main {
	width: 940px;
	margin: 0 auto;
}

form {
	margin: 40px 0;
	font-family: "arial";
}

form label, form legend {
	display: block;
	font-size: 18px;
	margin: 0 0 12px;
}

.input-padrao {
	display: block;
	margin:  0 0 20px;
	padding: 10px;
	width: 50%;
}

.checkbox {
	margin: 20px 0;
}

.enviar {
	width: 40%;
	padding: 15px 0;
	background: orange;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 0.5s all;
	cursor: pointer;
}

.enviar:hover {
	background: darkorange;
	transform: scale(1.04);
}

table{
	margin: 20px 0 40px;
	text-align: center;
	font-family: "arial";
	font-size: 15px;

}

thead {
	background: #555555;
	color: white;
	font-weight: bold;
}

td, th {
	border: 1px solid #000000;
	padding: 2px;
}